body {
    padding: 0;
    margin: 0;
}

.flex-row {
    /* YAN YANA SIRALA */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.flex-column {
    /* ALT ALTA SIRALA */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#root {
    height: 100vh;
    /* bütün tarayıcı yüsekliği kadar kaplasın (koyu mod için) */
}