.container {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.image-wrapper {
    margin-right: 40px;
}

.title {
    font-family: Arial, sans-serif;
}

.description {
    font-family: Arial, sans-serif;
    font-size: 20px;
}

.price {
    font-size: 50px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: rgb(185, 76, 76);
}

.counter {
    display: flex;
    align-items: center;
}

.icon {
    font-size: 40px;
    cursor: pointer;
}

.icon.plus {
    margin-right: 5px;
}

.icon.minus {
    margin-left: 5px;
}

.count {
    font-size: 35px;
}

.add-to-cart-btn {
    margin-top: 25px;
    border: none;
    padding: 10px;
    background-color: rgb(185, 76, 76);
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
}